<div
  *ngIf="showLoadingPanel"
  class="loading-background fade-out"
  [class.fade-out]="!loading"
>
  <div class="wrapper">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="shadow"></div>
    <div class="shadow"></div>
    <div class="shadow"></div>
    <span>Loading</span>
  </div>
</div>

<!-- Content Wrapper -->
<div *ngIf="user" id="content-wrapper" class="d-flex flex-column">
  <!-- Main Content -->
  <div id="content">
    <app-header
      [user]="user"
      [authenticated]="authenticated"
      (signIn)="signIn()"
      (logout)="logout()"
    ></app-header>

    <!-- Begin Page Content -->
    <div class="d-flex border-end p-4">
      <div class="flex-grow-1 text-center">
        <ng-container *ngIf="userGameRecord">
          <ng-container *ngFor="let gameAttempts of gameAttempts">
            <div *ngIf="gameAttempts.attempts" class="card mx-auto mb-5">
              <img [src]="gameCovers[gameAttempts.game.name]" class="card-img-top">
              <div class="card-body">
                <div class="combined-title mb-3">
                  <h5 class="card-title">
                    You have found the {{ gameAttempts.game.name }}
                  </h5>
                  <h6 class="card-subtitle text-muted text-left">It took {{gameAttempts.attempts.length}} attempt/s</h6>
                </div>
                <app-view-record
                  class="d-block mb-3"
                  [attempt]="gameAttempts.attempts"
                ></app-view-record>
              </div>
            </div>
          </ng-container>
        </ng-container>

        <app-daily-score
          [games]="games"
          [userAttempts]="gameAttempts"
          [(userGameRecord)]="userGameRecord"
          (userGameRecordChange)="updateAttemptsView()"
        ></app-daily-score>
      </div>

      <div class="ranks p-3">
        <h3>Ranks!</h3>
        <div *ngFor="let rank of ranking; let index = index">
          {{ index + 1 }}. {{ rank.userName }} is in
          {{ rank.positionLabel }} position!
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- End of Main Content -->

  <!-- Footer -->
  <footer class="sticky-footer bg-white">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Copyright &copy; Your Website 2021</span>
      </div>
    </div>
  </footer>
  <!-- End of Footer -->
</div>
<!-- End of Content Wrapper -->
